@import url("https://use.typekit.net/sle2xsa.css");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16.5px;
}
body {
  color: white;
}
section {
  overflow: hidden;
}
.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  padding: 2rem;
}
.nav div {
  margin: 0 auto;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: #a9a9a952;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}
.container section {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.container section:nth-child(1) {
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.container section .content {
  max-width: 800px;
  text-align: center;
  padding: 4rem;
}
.container section h1 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
  opacity: 1;
}
.container section p {
  line-height: 30px;
  font-family: neue-haas-grotesk-display, sans-serif;
  letter-spacing: 2px;
}
.social-media {
  display: flex;
  position: absolute;
  bottom: 50px;
  padding: 1rem;
  border-top: 1px solid #ffffff26;
}
.fab {
  font-size: 1.5rem;
  padding: 0.3rem;
}

.skills {
  display: flex;
  flex-direction: column;
  border-left: 1px solid;
  padding-left: 1em;
}
.skill {
  font-size: 2rem;
  color: white !important;
  font-weight: 200;
  opacity: 0;
  transition: opacity 2s;
}
.fade-in {
  opacity: 1;
}
